{% extends 'layout.html.twig' %}

{% block title %}
    {% block content_title %}A propos de moi{% endblock %}
{% endblock %}

{% block content %}
    <img src="{{ asset('images/marie13.jpg') }}" alt="Marie Délèze" class="content-image">
    <p>Je m'appelle Marie Délèze, j'ai 17 ans et je suis une passionnée de ski alpin. Je viens de Nendaz, dans le magnifique canton du Valais en Suisse. Depuis mon plus jeune âge, j'ai été attirée par les montagnes enneigées et les pistes de ski.</p>
    <p>Depuis l’âge de 5 ans, je fais partie du Ski-club Arpettaz de Nendaz. Très rapidement, j’ai attrapé la fièvre de la compétition et depuis j’enchaîne les piquets rouges-bleus toutes les semaines et avec la même passion.</p>
    <p>Parallèlement à ma carrière sportive, je vais entrer en quatrième du Collège Spiritus Sanctus de Brig en septembre, où je suis une formation gymnasiale.</p>
{% endblock %}
