{% extends 'layout.html.twig' %}

{% block title %}
    {% block content_title %}Mes performances{% endblock %}
{% endblock %}

{% block content %}
    <p>Pour ma première saison en courses FIS, j’ai obtenu de bons résultats, notamment dans les disciplines techniques, en slalom et en géant.</p>

    <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="space-y-4">
            <p>Slalom<br>
            <span class="font-bold">1x Top 3</span></p>

            <p>Slalom<br>
            <span class="font-bold">3x Top 10</span></p>

            <p>Géant<br>
            <span class="font-bold">2x Top 10</span></p>
        </div>
        <div class="space-y-4">
            <p>Slalom<br>
            <span class="font-bold">7x Top 30</span></p>

            <p>Géant<br>
            <span class="font-bold">7x Top 30</span></p>

            <p>Super-G<br>
            <span class="font-bold">2x Top 30</span></p>
        </div>
    </div>

    <img src="{{ asset('images/marie9.jpg') }}" alt="Podium" class="content-image">
{% endblock %}
