{% extends 'base.html.twig' %}

{% block body %}
    <div class="h-screen bg-primary flex text-white">
        <div class="m-auto flex flex-col gap-8 items-center">
            <img src="{{ asset('images/logo.png') }}" alt="Marie Délèze" class="w-52">
            <div class="text-5xl font-heading font-semibold tracking-wide">Marie Délèze</div>
            <div class="text-lg">Website coming soon...</div>
        </div>
    </div>
{% endblock %}
