{% extends 'layout.html.twig' %}

{% block title %}
    {% block content_title %}Liens utiles{% endblock %}
{% endblock %}

{% block content %}
    <p>Dans cette section, vous trouverez tous les liens utiles pour suivre ma saison et également pour m'aider dans la suite de ma carrière.</p>
    <ul class="list-disc ml-4">
        <li>
            <a href="https://www.fis-ski.com/DB/general/athlete-biography.html?sectorcode=AL&competitorid=284901&type=summary" target="_blank" class="text-primary">Ma fiche athlète FIS</a>
        </li>
        <li>
            <a href="https://www.fis-ski.com/DB/alpine-skiing/calendar-results.html?eventselection=&place=&sectorcode=AL&seasoncode=2026&categorycode=&disciplinecode=&gendercode=W&racedate=&racecodex=&nationcode=SUI&seasonmonth=X-2026&saveselection=-1&seasonselection=" target="_blank" class="text-primary">Calendrier 2025/26</a>
        </li>
        <li>
            <a href="{{ asset('documents/dossier-sponsoring.pdf') }}" target="_blank" class="text-primary">Dossier de sponsoring</a>
        </li>
    </ul>
    <img src="{{ asset('images/marie11.jpg') }}" alt="Podium" class="content-image">
{% endblock %}
