{% extends 'layout.html.twig' %}

{% block title %}
    {% block content_title %}Actualités{% endblock %}
{% endblock %}

{% block content %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Nouveau site internet</h2>
            <p>11/07/2024</p>
            <img src="{{ asset('images/news/news-1.png') }}" alt="">
            <p class="">
                Mon nouveau site <a href="https://mariedeleze.ch">mariedeleze.ch</a> est en ligne! Il est encore en construction, mais vous pouvez déjà y trouver des informations sur mes sponsors et mon matériel.
            </p>
        </div>
    </div>
{% endblock %}
