{% extends 'layout.html.twig' %}

{% block title %}
    {% block content_title %}Actualités{% endblock %}
{% endblock %}

{% block content %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Collaboration ave LEKI</h2>
            <p>22/05/2025</p>
            <img src="{{ asset('images/leki.png') }}" alt="LEKI">
            <p>
                LEKI continue de me soutenir pour la saison 2025/26! Merci à eux pour leur confiance et leur matériel de qualité!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Partenariat avec Nendaz Tourisme</h2>
            <p>19/05/2025</p>
            <img src="{{ asset('images/sponsors/nendaz-tourisme.svg') }}" alt="">
            <p>
                Un grand merci à <a href="https://www.nendaz.ch/fr/" target="_blank">Nendaz Tourisme</a> qui continue de me soutenir pour la saison 2025/26!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Partenariat avec Atomic</h2>
            <p>02/05/2025</p>
            <img src="{{ asset('images/atomic.jpg') }}" alt="Atomic">
            <p>
                Merci à <a href="https://www.atomic.com/fr-ch" target="_blank">Atomic</a> pour leur soutien et leur confiance pour la saison 2025/26! Je suis impatiente de skier avec leur nouveau matériel!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Sélection au Centre de Performances NLZ Ouest</h2>
            <p>30/04/2025</p>
            <img src="{{ asset('images/nlz.jpg') }}" alt="NLZ Ouest">
            <p>
                Je suis très heureuse d'apprendre que j'ai été <a href="https://drive.google.com/file/d/1WaVC-k3a_VB3AGo5FZf4suimYB3J3TyZ/view" target="_blank">sélectionnée</a> pour intégrer le Centre de Performances NLZ Ouest pour la saison 2025/26. C'est une étape importante dans ma carrière et je suis impatiente de relever ce nouveau défi!
            </p>
        </div>
    </div>
{% endblock %}
