{% extends 'layout.html.twig' %}

{% block title %}
    {% block content_title %}Sponsors{% endblock %}
{% endblock %}

{% block content %}
    <p>
        Un grand merci à tous mes sponsors pour leur soutien!
    </p>
    <h2 class="font-heading text-3xl !mt-8">Entreprises</h2>
    <div class="grid grid-cols-1 items-center gap-8 justify-center md:grid-cols-4">
        <div class="col-span-4">
            <img src="{{ asset('images/sponsors/iomedia.svg') }}" alt="" class="w-96">
        </div>
        <div>
            <img src="{{ asset('images/sponsors/latico.png') }}" alt="" class="w-full">
        </div>
    </div>
    <h2 class="font-heading text-3xl !mt-12">Matériel</h2>
    <div class="grid grid-cols-1 items-center gap-8 justify-center md:grid-cols-4">
        <div class="m-auto">
            <img src="{{ asset('images/atomic.jpg') }}" alt="" class="max-w-52">
        </div>
        <div class="m-auto">
            <img src="{{ asset('images/leki.png') }}" alt="" class="max-w-52">
        </div>
    </div>
{% endblock %}
