@font-face {
    src: url('../fonts/PoiretOne-Regular.ttf');
    font-family: 'Poiret One';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #006494;
        --color-secondary: #00A6FB;
    }

    dialog {
        @apply block overflow-hidden;

        div.modal-container {
            @apply block fixed z-50 left-0 right-0 bottom-0 bg-white text-left shadow-xl max-w-screen-lg mx-auto lg:rounded-lg h-[calc(100dvh-375px)] md:h-[calc(100dvh-275px)] translate-y-0 transition-transform duration-300 ease-in-out overflow-y-auto;
        }

        &.modal-hidden {
            div.modal-container {
            @apply translate-y-full;
            }
        }

        a.modal-close {
            @apply text-gray-400 absolute top-6 right-6 z-10;
        }

        div.modal-content {
            @apply p-6;

            h1.modal-title {
                @apply grow text-4xl font-heading my-8;
            }

            div.modal-body {
                @apply space-y-4;

                img.content-image {
                    @apply w-full md:w-1/2 mx-auto rounded shadow-xl;
                }
            }
        }
    }

    div.app-container {
        @apply flex flex-col items-center gap-4 h-screen bg-cover bg-no-repeat bg-center md:bg-bottom;

        header {
            @apply mt-6 flex flex-col items-center gap-3 text-white text-3xl font-heading font-bold;
        }

        main {
            @apply flex gap-2 justify-center font-heading tracking-wider;

            ul.links {
                @apply flex max-md:flex-col gap-2;

                a.link {
                    @apply bg-white flex items-center rounded p-2 px-4 text-xs md:text-base font-bold uppercase hover:bg-primary hover:text-white;
                }

                a.cta {
                    @apply bg-primary text-white flex items-center rounded p-2 px-4 text-xs md:text-base font-bold uppercase;
                }
            }
        }

        footer {
            @apply w-full mt-auto bg-primary text-white p-4 md:p-8 gap-4 flex max-md:flex-col justify-between items-center border-t border-t-white;

            ul.nav {
                @apply flex flex-col gap-3;

                li {
                    @apply text-center md:text-left;
                }
            }

            div.social {
                @apply flex gap-4 items-center;
            }
        }
    }
}
